<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**  

- List popular languages for Data Science  
- Identify commonly used Data Science libraries  
- Explore various Data Science tools and ecosystems  
- Perform basic arithmetic operations in Python  
- Convert time units (e.g., minutes to hours) using Python

## Data Science Languages

Some of the commonly used languages in Data Science include:

- Python  
- R  
- SQL  
- Julia  
- Scala  
- Java  
- C++  
- MATLAB  
- JavaScript (for data visualization)

## Data Science Libraries

Some of the popular libraries used in Data Science include:

- **Python Libraries**:
  - NumPy
  - Pandas
  - Matplotlib
  - Seaborn
  - Scikit-learn
  - TensorFlow
  - PyTorch
  - Keras
  - Statsmodels

- **R Libraries**:
  - ggplot2
  - dplyr
  - tidyr
  - caret
  - Shiny

- **Other Libraries**:
  - Apache Spark (PySpark)
  - H2O.ai

## Data Science Tools

Below is a table of some commonly used Data Science tools:

| Tool              | Category                | Description |
|------------------|----------------------|-------------|
| Jupyter Notebook | IDE & Notebook        | Interactive environment for coding and visualization |
| RStudio         | IDE                   | IDE for R programming with built-in data visualization |
| Apache Spark    | Big Data Processing   | Distributed computing for large-scale data processing |
| TensorFlow      | Machine Learning      | Open-source library for deep learning and AI |
| PyTorch        | Machine Learning      | Deep learning framework with dynamic computation graphs |
| Tableau         | Data Visualization    | Business intelligence tool for data visualization |
| Power BI       | Data Visualization    | Microsoft tool for interactive visual analytics |
| Hadoop         | Big Data Processing   | Open-source framework for distributed storage & processing |
| SQL Server     | Database Management   | Microsoft relational database management system |
| Excel         | Data Analysis         | Spreadsheet tool for statistical and data analysis |

## Arithmetic Expression Examples

Arithmetic expressions are mathematical calculations that include addition, subtraction, multiplication, and division.

### Examples:
- **Addition**: \( 5 + 3 = 8 \)  
- **Subtraction**: \( 10 - 4 = 6 \)  
- **Multiplication**: \( 6 \times 7 = 42 \)  
- **Division**: \( 20 \div 5 = 4 \)  
- **Exponentiation**: \( 2^3 = 8 \)  
- **Modulo (Remainder)**: \( 10 \mod 3 = 1 \)  

In programming, these operations can be performed using symbols like `+`, `-`, `*`, `/`, `**`, and `%` in languages such as Python.

In [8]:
# Multiplication and Addition Example
a = 4
b = 3
c=5

# Multiply and Add
multiplication_result = a * b
addition_result = (3*4)+5

# Print the results
print("Multiplication Result:", multiplication_result)
print("Addition Result:", addition_result)

Multiplication Result: 12
Addition Result: 17

In [7]:
# Convert minutes to hours
minutes = 200  # Example value

# Conversion formula
hours = minutes / 60

# Displaying result
print(f"{minutes} minutes is equal to {hours:.2f} hours")

200 minutes is equal to 3.33 hours

## Author  

Fatima Sadiq